<div class="app-content" style="background-color:#FFF">
   <div class="">
       <div class="container">
           <div class="row">
               <div class="col-lg-5">
                  <!--====== Product Breadcrumb ======-->
                  <div class="pd-breadcrumb u-s-m-b-30">
                  <ul class="pd-breadcrumb__list">
                     <li class="has-separator">

                         <a href="index.hml">Home</a></li>
                     <li class="has-separator">

                         <a href="shop-side-version-2.html">Electronics</a></li>
                     <li class="has-separator">

                         <a href="shop-side-version-2.html">DSLR Cameras</a></li>
                     <li class="is-marked">

                         <a href="shop-side-version-2.html">Nikon Cameras</a></li>
                  </ul>
                  </div>
                   <!--====== End - Product Breadcrumb ======-->

                  <!--====== Product Detail Zoom ======-->
                  <div class="pd u-s-m-b-30">
                    <div class="slider-fouc pd-wrap">
                        <div id="pd-o-initiate">
                            <div class="pd-o-img-wrap" data-src="assets/images/product/product-d-1.jpg">

                                <img class="u-img-fluid" src="assets/images/product/product-d-1.jpg" data-zoom-image="assets/images/product/product-d-1.jpg" alt=""></div>
                            <div class="pd-o-img-wrap" data-src="assets/images/product/product-d-2.jpg">

                                <img class="u-img-fluid" src="assets/images/product/product-d-2.jpg" data-zoom-image="assets/images/product/product-d-2.jpg" alt=""></div>
                            <div class="pd-o-img-wrap" data-src="assets/images/product/product-d-3.jpg">

                                <img class="u-img-fluid" src="assets/images/product/product-d-3.jpg" data-zoom-image="assets/images/product/product-d-3.jpg" alt=""></div>
                            <div class="pd-o-img-wrap" data-src="assets/images/product/product-d-4.jpg">

                                <img class="u-img-fluid" src="assets/images/product/product-d-4.jpg" data-zoom-image="assets/images/product/product-d-4.jpg" alt=""></div>
                            <div class="pd-o-img-wrap" data-src="assets/images/product/product-d-5.jpg">

                                <img class="u-img-fluid" src="assets/images/product/product-d-5.jpg" data-zoom-image="assets/images/product/product-d-5.jpg" alt=""></div>
                        </div>

                        <span class="pd-text">Click for larger zoom</span>
                    </div>
                    <div class="u-s-m-t-15">
                        <div class="slider-fouc">
                            <div id="pd-o-thumbnail">
                                <div>

                                    <img class="u-img-fluid" src="assets/images/product/product-d-1.jpg" alt=""></div>
                                <div>

                                    <img class="u-img-fluid" src="assets/images/product/product-d-2.jpg" alt=""></div>
                                <div>

                                    <img class="u-img-fluid" src="assets/images/product/product-d-3.jpg" alt=""></div>
                                <div>

                                    <img class="u-img-fluid" src="assets/images/product/product-d-4.jpg" alt=""></div>
                                <div>

                                    <img class="u-img-fluid" src="assets/images/product/product-d-5.jpg" alt=""></div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <!--====== End - Product Detail Zoom ======-->
               </div>
               <div class="col-lg-7 pt-5">
                   <!--====== Product Right Side Details ======-->
                   <div class="pd-detail">
                       <div>
                           <span class="pd-detail__name">Nikon Camera 4k Lens Zoom Pro</span>
                       </div>
                        <div class="u-s-m-b-15">
                           <div class="pd-detail__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                               <span class="pd-detail__review u-s-m-l-4">
                              <a data-click-scroll="#view-review">37,482 ratings and 4,243 reviews</a></span>
                           </div>
                       </div>
                       <div>
                           <div class="pd-detail__inline">
                              <span class="pd-detail__price">₹599</span>
                              <del class="pd-detail__del">₹999</del>
                              <span class="pd-detail__discount">(76% OFF)</span>
                           </div>
                       </div>
                       <div class="u-s-m-b-15">
                           <div class="pd-detail__inline">
                              <span class="pd-detail__stax">inclusive of all taxes</span>
                              <!-- <span class="pd-detail__left">Only 2 left</span> -->
                           </div>
                       </div>
                       <div class="u-s-m-b-15">

                           <span class="pd-detail__preview-desc">
                          <!--  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. -->
                        </span>
                        </div>
                      <!--  <div class="u-s-m-b-15">
                           <div class="pd-detail__inline">

                               <span class="pd-detail__click-wrap"><i class="far fa-heart u-s-m-r-6"></i>

                                   <a href="signin.html">Add to Wishlist</a>

                                   <span class="pd-detail__click-count">(222)</span></span></div>
                       </div> -->
                     <!--   <div class="u-s-m-b-15">
                           <div class="pd-detail__inline">

                               <span class="pd-detail__click-wrap"><i class="far fa-envelope u-s-m-r-6"></i>

                                   <a href="signin.html">Email me When the price drops</a>

                                   <span class="pd-detail__click-count">(20)</span></span></div>
                       </div> -->
                     <!--   <div class="u-s-m-b-15">
                           <ul class="pd-social-list">
                               <li>

                                   <a class="s-fb--color-hover" href="#"><i class="fab fa-facebook-f"></i></a></li>
                               <li>

                                   <a class="s-tw--color-hover" href="#"><i class="fab fa-twitter"></i></a></li>
                               <li>

                                   <a class="s-insta--color-hover" href="#"><i class="fab fa-instagram"></i></a></li>
                               <li>

                                   <a class="s-wa--color-hover" href="#"><i class="fab fa-whatsapp"></i></a></li>
                               <li>

                                   <a class="s-gplus--color-hover" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                           </ul>
                       </div> -->
                       <div class="u-s-m-b-15">
                           <!-- <form class="pd-detail__form"> -->
                               <div class="u-s-m-b-15">
                                   <span class="pd-detail__label u-s-m-b-8">COLOR</span>
                                   <div class="pd-detail__color">
                                       <div class="color__radio">
                                           <input type="radio" id="jet" name="color" checked>
                                           <label class="color__radio-label" for="jet" style="background-color: #333333"></label>
                                        </div>
                                       <div class="color__radio">
                                           <input type="radio" id="folly" name="color">
                                           <label class="color__radio-label" for="folly" style="background-color: #FF0055"></label>
                                        </div>
                                       <div class="color__radio">
                                           <input type="radio" id="yellow" name="color">
                                           <label class="color__radio-label" for="yellow" style="background-color: #FFFF00"></label>
                                        </div>
                                       <div class="color__radio">
                                           <input type="radio" id="granite-gray" name="color">
                                           <label class="color__radio-label" for="granite-gray" style="background-color: #605F5E"></label>
                                        </div>
                                       <div class="color__radio">
                                           <input type="radio" id="space-cadet" name="color">
                                           <label class="color__radio-label" for="space-cadet" style="background-color: #1D3461"></label>
                                        </div>
                                   </div>
                               </div>
                               <div class="u-s-m-b-15">
                                   <span class="pd-detail__label u-s-m-b-8">SIZE</span>
                                   <div class="pd-detail__size">
                                       <div class="size__radio">
                                           <input type="radio" id="small" name="size">
                                           <label class="size__radio-label" for="xxl">S</label>
                                        </div>
                                       <div class="size__radio">
                                           <input type="radio" id="medium" name="size">
                                           <label class="size__radio-label" for="medium">M</label>
                                        </div>
                                       <div class="size__radio">

                                           <input type="radio" id="large" name="size">

                                           <label class="size__radio-label" for="xxl">L</label>
                                        </div>
                                       <div class="size__radio">
                                           <input type="radio" id="xl" name="size">
                                           <label class="size__radio-label" for="xl">XL</label>
                                        </div>
                                       <div class="size__radio">
                                           <input type="radio" id="xxl" name="size">
                                           <label class="size__radio-label" for="xxl">XXL</label>
                                        </div>
                                   </div>
                               </div>
                               <div class="pd-detail-inline-2">
                                   <div class="u-s-m-b-15">
                                       <button class="btn btn--e-brand-b-2" type="submit"><i class="fas fa-shopping-bag"></i> ADD TO BAG</button>
                                    </div>
                                    <div class="u-s-m-b-15">
                                       <button class="btn btn--e-brand-w" type="submit"><i class="far fa-heart u-s-m-r-6"></i>WISHLIST</button>
                                    </div>
                               </div>
                           <!-- </form> -->
                       </div>
                       <div class="u-s-m-b-15">

                           <span class="pd-detail__label u-s-m-b-8">PRODUCT POLICY:</span>
                           <ul class="pd-detail__policy-list">
                               <li><i class="fas fa-check-circle u-s-m-r-8"></i>

                                   <span>Buyer Protection.</span></li>
                               <li><i class="fas fa-check-circle u-s-m-r-8"></i>

                                   <span>Full Refund if you don't receive your order.</span></li>
                               <li><i class="fas fa-check-circle u-s-m-r-8"></i>

                                   <span>Returns accepted if product not as described.</span></li>
                           </ul>
                       </div>
                        <div class="u-s-m-b-15 w-50">
                           <span class="pd-detail__label u-s-m-b-8">DELIVERY TO</span>
                           <div class="pd-detail__delivery_section">
                              <input type="text" class="border-0" name="" placeholder="Enter a PIN code">
                              <button class="delivery-check-btn">Check</button> 
                           </div>
                        </div>
                        <div class="u-s-m-b-15 w-100">
                        	 <ul class="pd-detail__delivery mt-4">
                               <li><img src="assets/images/delivery/delivery-truck.png" class="delivery-images">

                                   <span>Get it by Fri, Jul 09</span></li>
                               <li><img src="assets/images/delivery/get-money.png" class="delivery-images">

                                   <span>Full Refund if you don't receive your order.</span></li>
                               <li><img src="assets/images/delivery/transfer.png" class="delivery-images">

                                   <span>Returns accepted if product not as described.</span></li>
                           </ul>
                        </div>
                        <div class="u-s-m-b-15">
                           <span class="pd-detail__label u-s-m-b-8">PRODUCT DETAILS</span>
                           100% Original Products<br/>
                           Pay on delivery might be available<br/>
                           Easy 30 days returns and exchanges<br/>
                           Try & Buy might be available<br/>
                        </div>
                   </div>
                   <!--====== End - Product Right Side Details ======-->
               </div>
           </div>
       </div>
   </div>
</div>