<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav> -->

<header class="header--style-1">

    <!--====== Nav 1 ======-->
     <!-- fixed-top -->
    <nav class="navbar sticky-top" style="background: #ea2330; padding: 0px">
        <div class="container">

            <!--====== Primary Nav ======-->
            <div class="primary-nav">

                <!--====== Main Logo ======-->

                <a class="main-logo" routerLink="/">
                    <h3 style="color:#FFF; font-weight: 700;">Fikrgo</h3>
                    <!-- <img src="assets/images/logo/logo-1.png" alt=""> -->
                </a>
    
                <!-- <form class="main-form"> -->
                    <div class="main-form">
                    <label for="main-search"></label>
                    <input class="input-text input-text--border-radius input-text--style-1" type="text" id="main-search" placeholder="Search for products" style="height: 40px; font-size: medium;">
                    <button class="btn btn--icon fas fa-search main-search-button" type="submit"></button>
                </div>
                <!-- </form> -->

                <div class="menu-init" id="navigation">
                    <button class="btn btn--icon toggle-button toggle-button--secondary fas fa-cogs" type="button"></button>
                    <div class="ah-lg-mode">
                        <span class="ah-close">✕ Close</span>
                        <ul class="ah-list--design1 ah-list--link-color-secondary" style="margin-bottom: 0px;">
                            <li class="has-dropdown" data-tooltip="tooltip" data-placement="left" title="Account">
                                <a><i class="far fa-user-circle"></i> <span *ngIf="isLoggedIn()"> Suresh</span></a>
                                <span class="js-menu-toggle"></span>
                                <ul style="width:120px">
                                    <li>
                                        <a href="dashboard.html"><i class="fas fa-user-circle u-s-m-r-6"></i>
                                        <span>Account</span></a></li>
                                    <li>
                                        <a routerLink="/login"><i class="fas fa-user-plus u-s-m-r-6"></i>
                                        <span>Signup</span></a>
                                    </li>
                                    <li *ngIf="currentUser">
                                        <a (click)="logout()"><i class="fas fa-lock-open u-s-m-r-6"></i>
                                        <span>Logout</span></a>
                                    </li>
                                </ul>
                            </li>
                            
                             <li>
                                <a href="wishlist.html"><i class="far fa-heart"></i></a>
                            </li>
                             <li class="has-dropdown">
                                <a class="mini-cart-shop-link"><i class="fas fa-shopping-bag"></i>
                                    <span class="total-item-round">2</span>
                                </a>
                            </li>
                        </ul>
                        <!--====== End - List ======-->
                    </div>
                    <!--====== End - Menu ======-->
                </div>
                <!--====== End - Dropdown Main plugin ======-->
            </div>
            <!--====== End - Primary Nav ======-->
        </div>

    </nav>
    <!--====== End - Nav 1 ======-->
      <nav class="secondary-nav-wrapper">
                <div class="container">

                    <!--====== Secondary Nav ======-->
                    <div class="secondary-nav d-flex justify-content-center">

                        <!--====== Dropdown Main plugin ======-->
                        
                        <!--====== End - Dropdown Main plugin ======-->


                        <!--====== Dropdown Main plugin ======-->
                        <div class="menu-init" id="navigation1">

                            <button class="btn btn--icon toggle-button toggle-button--secondary fas fa-cog" type="button"></button>

                            <!--====== Menu ======-->
                            <div class="ah-lg-mode">

                                <span class="ah-close">✕ Close</span>

                                <!--====== List ======-->
                                <ul class="ah-list ah-list--design2 ah-list--link-color-secondary">
                                
                                    <li class="has-dropdown">

                                        <a routerLink="shop/men" [routerLinkActive]="['is-active']">MEN<i class="fas fa-angle-down u-s-m-l-6"></i></a>

                                        <!--====== Dropdown ======-->

                                        <span class="js-menu-toggle"></span>
                                        <ul style="width:16rem; left: 15rem;">
                                            <li>
                                                <a routerLink="">All</a>
                                            </li>
                                            <li class="has-dropdown has-dropdown--ul-left-100">

                                                <a>Topwear<i class="fas fa-angle-down i-state-right u-s-m-l-6"></i></a>

                                                <!--====== Dropdown ======-->

                                                <span class="js-menu-toggle"></span>
                                                <ul style="width:118px">
                                                    <li>

                                                        <a href="index.html">Home 1</a></li>
                                                    <li>

                                                        <a href="index-2.html">Home 2</a></li>
                                                    <li>

                                                        <a href="index-3.html">Home 3</a></li>
                                                </ul>
                                                <!--====== End - Dropdown ======-->
                                            </li>

                                           
                                            <li class="has-dropdown has-dropdown--ul-left-100">

                                                <a>Bottomwear<i class="fas fa-angle-down i-state-right u-s-m-l-6"></i></a>

                                                <!--====== Dropdown ======-->
                                                <span class="js-menu-toggle"></span>
                                                <ul style="width:200px">
                                                    <li>
                                                        <a href="empty-search.html">Empty Search</a></li>
                                                    <li>
                                                        <a href="empty-cart.html">Empty Cart</a></li>
                                                    <li>
                                                        <a href="empty-wishlist.html">Empty Wishlist</a></li>
                                                </ul>
                                                <!--====== End - Dropdown ======-->
                                            </li>

                                            <li class="has-dropdown has-dropdown--ul-left-100">
                                                <a>Accessories<i class="fas fa-angle-down i-state-right u-s-m-l-6"></i></a>
                                                <!--====== Dropdown ======-->
                                                <span class="js-menu-toggle"></span>
                                                <ul style="width:200px">
                                                    <li>
                                                        <a href="product-detail.html">Product Details</a></li>
                                                    <li>
                                                        <a href="product-detail-variable.html">Product Details Variable</a></li>
                                                    <li>
                                                        <a href="product-detail-affiliate.html">Product Details Affiliate</a></li>
                                                </ul>
                                                <!--====== End - Dropdown ======-->
                                            </li>
                                          
                                        </ul>
                                        <!--====== End - Dropdown ======-->
                                    </li>

                                    <li class="has-dropdown">

                                        <a routerLink="shop/women" [routerLinkActive]="['is-active']">WOMEN<i class="fas fa-angle-down u-s-m-l-6"></i></a>

                                        <!--====== Dropdown ======-->

                                        <span class="js-menu-toggle"></span>
                                        <ul style="width:16rem; left: 20rem;">
                                            <li>
                                                <a routerLink="">All</a>
                                            </li>
                                            <li class="has-dropdown has-dropdown--ul-left-100">
                                                <a>Topwear<i class="fas fa-angle-down i-state-right u-s-m-l-6"></i></a>
                                                <!--====== Dropdown ======-->
                                                <span class="js-menu-toggle"></span>
                                                <ul style="width:118px">
                                                    <li>
                                                        <a href="index.html">Home 1</a></li>
                                                    <li>
                                                        <a href="index-2.html">Home 2</a></li>
                                                    <li>
                                                        <a href="index-3.html">Home 3</a></li>
                                                </ul>
                                                <!--====== End - Dropdown ======-->
                                            </li>                                    
                                            <li class="has-dropdown has-dropdown--ul-left-100">
                                                <a>Bottomwear<i class="fas fa-angle-down i-state-right u-s-m-l-6"></i></a>
                                                <!--====== Dropdown ======-->
                                                <span class="js-menu-toggle"></span>
                                                <ul style="width:200px">
                                                    <li>
                                                        <a href="empty-search.html">Empty Search</a></li>
                                                    <li>
                                                        <a href="empty-cart.html">Empty Cart</a></li>
                                                    <li>
                                                        <a href="empty-wishlist.html">Empty Wishlist</a></li>
                                                </ul>
                                                <!--====== End - Dropdown ======-->
                                            </li>
                                            <li class="has-dropdown has-dropdown--ul-left-100">
                                                <a>Accessories<i class="fas fa-angle-down i-state-right u-s-m-l-6"></i></a>
                                                <!--====== Dropdown ======-->
                                                <span class="js-menu-toggle"></span>
                                                <ul style="width:200px">
                                                    <li>

                                                        <a href="product-detail.html">Product Details</a></li>
                                                    <li>
                                                        <a href="product-detail-variable.html">Product Details Variable</a></li>
                                                    <li>
                                                        <a href="product-detail-affiliate.html">Product Details Affiliate</a></li>
                                                </ul>
                                                <!--====== End - Dropdown ======-->
                                            </li>
                                        </ul>
                                        <!--====== End - Dropdown ======-->
                                    </li>
                                    <li>
                                        <a routerLink="accessories" [routerLinkActive]="['is-active']">ACCESSORIES</a>
                                    </li>
                                    <li>
                                        <a href="shop-side-version-2.html">TODAY DEALS</a>
                                    </li>
                                </ul>
                                <!--====== End - List ======-->
                            </div>
                            <!--====== End - Menu ======-->
                        </div>
                        <!--====== End - Dropdown Main plugin ======-->
                    </div>
                    <!--====== End - Secondary Nav ======-->
                </div>
            </nav>
</header>
