<div class="container mt-4">
	<div class="row">
		<div class="col-md-8 col-sm-8 col-lg-8">
			<!-- Section 1 -->
			<div *ngIf="section1" class="checkout-section-head active-checkout-section">1 .  LOGIN</div>
			<div class="checkout-section">
				<div *ngIf="!section1" class="checkout-section-head">1 .  LOGIN</div>
				<div class="w-r__container-checkout" *ngIf="!section1">
					<div class="w-r__wrap-checkout">
						<div class="pl-4">
							<div>
								<span class="login-checkout-name">Suresh Kumar</span>
								<span class="login-checkout-number">+91 9689326397</span>
							</div>
						</div>
					</div>
					<div class="w-r__wrap-2">
						<div class="change-cart-btn float-right" (click)="showLoginSection()">CHANGE</div>
					</div>
				</div>

				<div *ngIf="section1" class="pl-3">
					<div class="d-flex pb-3"><div class="login-cart-label">Phone </div><span class="pl-3">+919689326397</span></div>
					<div class="pb-3">
						<a href="" class="cart-login-again">Logout & Sign in to other account</a>
					</div>
				 	<div class="btn btn-success" (click)="showDeliveryAddress()">CONTINUE CHECKOUT</div>
				</div>
			</div>
			<!-- Section 2 -->
			<div *ngIf="section2" class="checkout-section-head active-checkout-section">2 .  DELIVERY ADDRESS</div>
			<div class="checkout-section">
				<div *ngIf="!section2" class="checkout-section-head">2 .  DELIVERY ADDRESS</div>
				<div class="w-r__container-checkout" *ngIf="!section2">
					<div class="w-r__wrap-checkout">
						<div class="pl-4">
							<div>
								<span class="login-checkout-name">Suresh Kumar</span>
								<span class="login-checkout-number">+91 9689326397</span>
							</div>
						</div>
					</div>
					<div class="w-r__wrap-2" *ngIf="!section1">
						<div class="change-cart-btn float-right" (click)="showDeliveryAddress()">CHANGE</div>
					</div>
				</div>
				<div *ngIf="section2">
				 	<ng-container *ngFor=" let value of result.addresses; let i = index">
				 		<div class="_cart_delivery_section _np">
				 			<p>
				 				<span class="_name_delivery">{{value.first_name}}{{value.last_name}}</span>
				 				<span class="sub_type">{{value.sub_type}}</span>
				 				<span class="ad_mobile">{{value.mobile}}</span>
				 			</p>
				 			<p>
				 			<span class="_address_delivery">
				 				{{value.address}}, {{value.landmark}}, {{value.city}}, {{value.state}}, {{value.pincode}}
				 			</span>
				 			</p>
				 			<div class="btn btn-success mt-3" (click)="showOrderSummary()">DELIVERY HERE</div>
				 		</div>
				 	</ng-container>
				 	
				</div>
			</div>
			<!-- Section 3 -->
			<div class="checkout-section">
				<div class="checkout-section-head">3 .  ORDER SUMMARY</div>
				<div class="w-r__container-checkout" *ngIf="!section3">
					<div class="w-r__wrap-checkout">
						<div class="pl-4">
							<div>
								<span class="login-checkout-name">Suresh Kumar</span>
								<span class="login-checkout-number">+91 9689326397</span>
							</div>
						</div>
					</div>
					<div class="w-r__wrap-2" *ngIf="!section2 && !section1">
						<div class="btn btn-outline-primary float-right" (click)="showOrderSummary()">CHANGE</div>
					</div>
				</div>
				<div *ngIf="section3">
					<div class="row p-4 _np">
						<div class="col-md-2 col-sm-2 col-lg-2" style="height: 112px; width: 112px;">
							<img src="assets/images/cart-product.jpeg" class="cart-images">
						</div>
						<div class="col-md-8 col-sm-8 col-lg-8">
							<div>
								<a href="" style="font-size: 15px;">Plain tshirts & black white</a>
								<div class="slider-bottom-rupee">
									<div class="slider-rupee">
										<i class="fas fa-rupee-sign"></i> 282
									</div>
									<div class="slider-rupee-discount">
										<i class="fas fa-rupee-sign"></i> 599
									</div>
						      	</div>
						    	<div class="slider-rupee-discount-per pl-0">
									<span>57% off</span>
								</div>
							</div>
							<div class="d-flex">
								<div class="pl-3">
									<button class="btn btn-link cart-card-btn">REMOVE</button>
								</div>
							</div>
						</div>
					</div>
					<div class="row p-4 _np">
						<div class="col-md-2 col-sm-2 col-lg-2" style="height: 112px; width: 112px;">
							<img src="assets/images/cart-product.jpeg" class="cart-images">
						</div>
						<div class="col-md-8 col-sm-8 col-lg-8">
							<div>
								<a href="" style="font-size: 15px;">Plain tshirts & black white</a>
								<div class="slider-bottom-rupee">
									<div class="slider-rupee">
										<i class="fas fa-rupee-sign"></i> 282
									</div>
									<div class="slider-rupee-discount">
										<i class="fas fa-rupee-sign"></i> 599
									</div>
						      	</div>
						    	<div class="slider-rupee-discount-per pl-0">
									<span>57% off</span>
								</div>
							</div>
							<div class="d-flex">
								<div class="pl-3">
									<button class="btn btn-link cart-card-btn">REMOVE</button>
								</div>
							</div>
						</div>
					</div>
					<div class="row p-4 _np">
						<div class="col-md-2 col-sm-2 col-lg-2" style="height: 112px; width: 112px;">
							<img src="assets/images/cart-product.jpeg" class="cart-images">
						</div>
						<div class="col-md-8 col-sm-8 col-lg-8">
							<div>
								<a href="" style="font-size: 15px;">Plain tshirts & black white</a>
								<div class="slider-bottom-rupee">
									<div class="slider-rupee">
										<i class="fas fa-rupee-sign"></i> 282
									</div>
									<div class="slider-rupee-discount">
										<i class="fas fa-rupee-sign"></i> 599
									</div>
						      	</div>
						    	<div class="slider-rupee-discount-per pl-0">
									<span>57% off</span>
								</div>
							</div>
							<div class="d-flex">
								<div class="pl-3">
									<button class="btn btn-link cart-card-btn">REMOVE</button>
								</div>
							</div>
						</div>
					</div>
				
				</div>
			</div>
			<!-- Section 4 -->
			<div class="checkout-section">
				<div class="checkout-section-head">4 .  PAYMENT</div>
				<div class="w-r__container-checkout" *ngIf="!section4">
					<div class="w-r__wrap-checkout">
						<div class="pl-4">
							<div>
								<span class="login-checkout-name">Suresh Kumar</span>
								<span class="login-checkout-number">+91 9689326397</span>
							</div>
						</div>
					</div>
					<div class="w-r__wrap-2" *ngIf="!section3 && !section1 && section1">
						<div class="btn btn-outline-primary float-right" (click)="showOrderSummary()">CHANGE</div>
					</div>
				</div>
				<div *ngIf="section4" style="background-color:#e2e2e2">
					Payment
				  <button class="btn btn-success" (click)="showPaymentDetails()">PAY NOW</button>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-lg-4 col-sm-4">
			<div class="card">
				<div class="card-header">
					<div class="price-details-head">PRICE DETAILS</div>
				</div>
				<div class="">
					<ul class="list-group list-group-flush">
					  <li class="price-details-list">Price (2 items) <span class="float-right">₹14,510</span></li>
					  <li class="price-details-list">Discount <span class="float-right success-text">- ₹2,432</span></li>
					  <li class="price-details-list">Delivery Charges <span class="float-right success-text">FREE</span></li>
					  <li class="price-details-list"><span class="success-text">You will save ₹2,815 on this order</span></li>
					  <li class="price-details-list f-a-text" style="border-top: 1px dashed #e0e0e0;"><span>Total Amount</span> <span class="float-right">₹14,510</span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>