<div class="container-fluid mt-3">
    <div class="row">
        <div class=" col-sm-3 col-md-3 col-lg-3">
            <div class="card">
                <div class="card-header"><h2 class="section__heading ">Filters</h2></div>
                <app-filters></app-filters>
            </div>
        </div>
        <div class="pl-0 col-md-9 col-lg-9 col-sm-9">
            <div class="card">
                <!-- <div class="card-body"> -->
                    <app-product-lists></app-product-lists>
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>



 