<div class="container mt-4">
	<div class="row">
		<div class="col-md-8 col-lg-8 col-sm-8">
			<div class="card">
				<div class="card-header">
					<h2 class="section__heading ">My Cart</h2>
				</div>
				<div class="" style="padding: 0px 14px;">
					<div class="row p-4">
					<div class="col-md-2 col-sm-2 col-lg-2" style="height: 112px; width: 112px;">
						<img src="assets/images/cart-product.jpeg" class="cart-images">
					</div>
					<div class="col-md-8 col-sm-8 col-lg-8">
						<div>
							<a href="" style="font-size: 18px;">Plain tshirts & black white</a>
							<div class="slider-bottom-rupee">
								<div class="slider-rupee">
									<i class="fas fa-rupee-sign"></i> 282
								</div>
								<div class="slider-rupee-discount">
									<i class="fas fa-rupee-sign"></i> 599
								</div>
					      	</div>
					    	<div class="slider-rupee-discount-per pl-0">
								<span>57% off</span>
							</div>
						</div>
						<div class="d-flex">
							<div>
								<button class="btn btn-link cart-card-btn">SAVE FOR LATER</button>
							</div>
							<div class="pl-3">
								<button class="btn btn-link cart-card-btn">REMOVE</button>
							</div>
						</div>
					</div>
					</div>
					<div class="row border-top p-4">
					<div class="col-md-2 col-sm-2 col-lg-2" style="height: 112px; width: 112px;">
						<img src="assets/images/cart-product.jpeg" class="cart-images">
					</div>
					<div class="col-md-8 col-sm-8 col-lg-8">
						<div>
							<a href="" style="font-size: 18px;">Plain tshirts & black white</a>
							<div class="slider-bottom-rupee">
								<div class="slider-rupee">
									<i class="fas fa-rupee-sign"></i> 282
								</div>
								<div class="slider-rupee-discount">
									<i class="fas fa-rupee-sign"></i> 599
								</div>
					      	</div>
					    	<div class="slider-rupee-discount-per pl-0">
								<span>57% off</span>
							</div>
						</div>
						<div class="d-flex">
							<div>
								<button class="btn btn-link cart-card-btn">SAVE FOR LATER</button>
							</div>
							<div class="pl-3">
								<button class="btn btn-link cart-card-btn">REMOVE</button>
							</div>
						</div>
					</div>
					</div>
				</div>
				<div class="card-footer">
					<button class="btn btn-success float-right place-order-btn">PLACE ORDER</button>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-lg-4 col-sm-4">
			<div class="card">
				<div class="card-header">
					<div class="price-details-head">PRICE DETAILS</div>
				</div>
				<div class="">
					<ul class="list-group list-group-flush">
					  <li class="price-details-list">Price (2 items) <span class="float-right">₹14,510</span></li>
					  <li class="price-details-list">Discount <span class="float-right success-text">- ₹2,432</span></li>
					  <li class="price-details-list">Delivery Charges <span class="float-right success-text">FREE</span></li>
					  <li class="price-details-list"><span class="success-text">You will save ₹2,815 on this order</span></li>
					  <li class="price-details-list f-a-text" style="border-top: 1px dashed #e0e0e0;"><span>Total Amount</span> <span class="float-right">₹14,510</span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>