<div *ngIf="router.url!=='/login' else auth">
   <app-header></app-header>
</div>
<ng-template #auth>
   <header class="header--style-1">

      <!--====== Nav 1 ======-->
      <nav class="primary-nav primary-nav-wrapper--border">
          <div class="container">
  
              <!--====== Primary Nav ======-->
              <div class="primary-nav">
  
                  <!--====== Main Logo ======-->
  
                  <a class="main-logo" routerLink="/">
  
                  <img src="assets/images/logo/logo-1.png" alt=""></a>
      
                  <!-- <form class="main-form"> -->
                      <div class="main-form">
                      <label for="main-search"></label>
  
                      <input class="input-text input-text--border-radius input-text--style-1" type="text" id="main-search" placeholder="Search">
  
                      <button class="btn btn--icon fas fa-search main-search-button" type="submit"></button>
                  </div>
                  <!-- </form> -->
  
                  <div class="menu-init" id="navigation">
                      <button class="btn btn--icon toggle-button toggle-button--secondary fas fa-cogs" type="button"></button>
                      <div class="ah-lg-mode">
                          <span class="ah-close">✕ Close</span>
                          <ul class="ah-list ah-list--design1 ah-list--link-color-secondary">
                              <li class="has-dropdown" data-tooltip="tooltip" data-placement="left" title="Account">
                                  <a>
                                      <i class="far fa-user-circle"></i> <span> Suresh</span>
                                  </a>
                                  <span class="js-menu-toggle"></span>
                                  <ul style="width:120px">
                                      <!-- <li>
                                          <a href="dashboard.html"><i class="fas fa-user-circle u-s-m-r-6"></i>
                                          <span>Account</span></a></li>
                                   </li> -->
                                          <a routerLink="/login"><i class="fas fa-user-plus u-s-m-r-6"></i>
                                          <span>Signup</span></a>
                                      
                                      <li *ngIf="currentUser">
                                          <a (click)="logout()"><i class="fas fa-lock-open u-s-m-r-6"></i>
                                          <span>Logoout</span></a>
                                      </li>
                                  </ul>
                              </li>
                              
                              <li data-tooltip="tooltip" data-placement="left" title="Contact">
  
                                  <a href="tel:+0900901904"><i class="fas fa-phone-volume"></i></a>
                              </li>
                              <li data-tooltip="tooltip" data-placement="left" title="Mail">
  
                                  <a href="mailto:contact@domain.com"><i class="far fa-envelope"></i></a>
                              </li>
                          </ul>
                          <!--====== End - List ======-->
                      </div>
                      <!--====== End - Menu ======-->
                  </div>
                  <!--====== End - Dropdown Main plugin ======-->
              </div>
              <!--====== End - Primary Nav ======-->
          </div>
      </nav>
      </header>
</ng-template>

   <router-outlet></router-outlet>

<app-footer></app-footer>
