<div class="app-content container-fluid">
	<div class="section__intro u-s-m-b-46">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section__text-wrap">
						<h4 class="section__heading u-c-secondary u-s-m-b-12">SHOP BY DEALS</h4>

         					
               </div>
            </div>
         </div>
      </div>
   </div>
</div>