<div id="main">

  <div class="accordion" id="faq">

    <div class="filter-box-text">
        <div class="_ss">
            <a href="#" class="btn btn-header-link" data-toggle="collapse" data-target="#faq1"
            aria-expanded="true" aria-controls="faq1">SIZES</a>
        </div>
        <div id="faq1" class="collapse show" aria-labelledby="faqhead1">
            <div class="filter-box-body">
                <div class="mb-2">
                    <input type="checkbox" class="" id="exampleCheck1">
                    <label class="pl-2" for="exampleCheck1">2XL</label>
                </div>
                <div class="mb-2">
                    <input type="checkbox" class="" id="exampleCheck1">
                    <label class="pl-2" for="exampleCheck1">2XL</label>
                </div>
                <div class="mb-2">
                    <input type="checkbox" class="" id="exampleCheck1">
                    <label class="pl-2" for="exampleCheck1">2XL</label>
                </div>
            </div>
        </div>
    </div>
    <div class="filter-box-text">
        <div class="_ss">
            <a href="#" class="btn btn-header-link" data-toggle="collapse" data-target="#faq2"
                              aria-expanded="false" aria-controls="faq2">COLOR</a>
        </div>
        <div id="faq2" class="collapse" aria-labelledby="faqhead1">
            <div class="filter-box-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
    <div class="filter-box-text">
        <div class="_ss">
            <a href="#" class="btn btn-header-link" data-toggle="collapse" data-target="#faq3"
                              aria-expanded="true" aria-controls="faq3">COLOR</a>
        </div>
        <div id="faq3" class="collapse" aria-labelledby="faqhead1">
            <div class="filter-box-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
                   
                      <!-- <div class="card">
                          <div class="card-header" id="faqhead2">
                              <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq2"
                              aria-expanded="true" aria-controls="faq2">S.S.S</a>
                          </div>
  
                          <div id="faq2" class="collapse" aria-labelledby="faqhead2">
                              <div class="card-body">
                                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                  moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                  Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                  shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                  proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                                  aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                              </div>
                          </div>
                      </div> -->
                      <!-- <div class="card">
                          <div class="card-header" id="faqhead3">
                              <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq3"
                              aria-expanded="true" aria-controls="faq3">S.S.S</a>
                          </div>
  
                          <div id="faq3" class="collapse" aria-labelledby="faqhead3">
                              <div class="card-body">
                                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                  moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                  Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                  shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                  proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                                  aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                              </div>
                          </div>
                      </div> -->
                  </div>
      
    </div>