<div style="padding: 15px 0px 7px 20px;">
   <div class="_1MR4o5">
      <div class="_3GIHBu"><a class="prod-list-a-text">Home</a></div>
      <div class="_3GIHBu"><a class="prod-list-a-text">Men</a></div>
      <div class=""><a class="prod-list-a-text">Women</a></div>
   </div>
   <h3 class="product-cat-list">Men's Kurta</h3>
   <div class="_1MR4o5 mt-1">
      <div class="sort-text-first"><a class="sort-list-a-head">Sort By :</a></div>
      <div class="sort-text-child"><a class="sort-list-a-child active-sort">Popularity</a></div>
      <div class="sort-text-child"><a class="sort-list-a-child">Price : Low to High</a></div>
      <div class="sort-text-child"><a class="sort-list-a-child">Price : High to Low</a></div>
      <div class="sort-text-child"><a class="sort-list-a-child">Newest</a></div>
   </div>
</div>
<div class="product-list-section-body">
  <div class="pr-0 pl-0 col-sm-3 col-xs-6">
    <div class="p-2">
      <img src="assets/images/deals/img1.jpg" style="display: block; width: 100%; height: 100%; object-fit: contain;"/>
      <div class="slider-bottom-r">
        <div>Everfresh Flowers</div>
        <div class="slider-bottom-rupee">
          <div class="slider-rupee">
            <i class="fas fa-rupee-sign"></i> 282
         </div>
         <div class="slider-rupee-discount">
            <i class="fas fa-rupee-sign"></i> 599
         </div>
         <div class="slider-rupee-discount-per">
            <span>57% off</span>
         </div>
      </div>
   </div>
</div>

</div>
<div class="pr-0 pl-0 col-sm-3 col-xs-6">
 <div class="p-2">
   <img src="assets/images/deals/img1.jpg" style="display: block; width: 100%;"/>
   <div class="slider-bottom-r">
     <div>Everfresh Flowers</div>
     <div class="slider-bottom-rupee">
       <div class="slider-rupee">
         <i class="fas fa-rupee-sign"></i> 282
      </div>
      <div class="slider-rupee-discount">
         <i class="fas fa-rupee-sign"></i> 599
      </div>
      <div class="slider-rupee-discount-per">
         <span>57% off</span>
      </div>
   </div>
</div>
</div>
</div>
<div class="pr-0 pl-0 col-sm-3 col-xs-6">
 <div class="p-2">
   <img src="assets/images/deals/img1.jpg" style="display: block; width: 100%;"/>
   <div class="slider-bottom-r">
     <div>Everfresh Flowers</div>
     <div class="slider-bottom-rupee">
       <div class="slider-rupee">
         <i class="fas fa-rupee-sign"></i> 282
      </div>
      <div class="slider-rupee-discount">
         <i class="fas fa-rupee-sign"></i> 599
      </div>
      <div class="slider-rupee-discount-per">
         <span>57% off</span>
      </div>
   </div>
</div>
</div>
</div>
<div class="pr-0 pl-0 col-sm-3 col-xs-6">
 <div class="p-2">
   <img src="assets/images/deals/img1.jpg" style="display: block; width: 100%;"/>
   <div class="slider-bottom-r">
     <div>Everfresh Flowers</div>
     <div class="slider-bottom-rupee">
       <div class="slider-rupee">
         <i class="fas fa-rupee-sign"></i> 282
      </div>
      <div class="slider-rupee-discount">
         <i class="fas fa-rupee-sign"></i> 599
      </div>
      <div class="slider-rupee-discount-per">
         <span>57% off</span>
      </div>
   </div>
</div>
</div>
</div>
<div class="pr-0 pl-0 col-sm-3 col-xs-6">
 <div class="p-2">
   <img src="assets/images/deals/img1.jpg" style="display: block; width: 100%; height: 100%; object-fit: contain;"/>
   <div class="slider-bottom-r">
     <div>Everfresh Flowers</div>
     <div class="slider-bottom-rupee">
       <div class="slider-rupee">
         <i class="fas fa-rupee-sign"></i> 282
      </div>
      <div class="slider-rupee-discount">
         <i class="fas fa-rupee-sign"></i> 599
      </div>
      <div class="slider-rupee-discount-per">
         <span>57% off</span>
      </div>
   </div>
</div>
</div>
</div>
<div class="pr-0 pl-0 col-sm-3 col-xs-6">
 <div class="p-2">
   <img src="assets/images/deals/img1.jpg" style="display: block; width: 100%;"/>
   <div class="slider-bottom-r">
     <div>Everfresh Flowers</div>
     <div class="slider-bottom-rupee">
       <div class="slider-rupee">
         <i class="fas fa-rupee-sign"></i> 282
      </div>
      <div class="slider-rupee-discount">
         <i class="fas fa-rupee-sign"></i> 599
      </div>
      <div class="slider-rupee-discount-per">
         <span>57% off</span>
      </div>
   </div>
</div>
</div>
</div>
<div class="pr-0 pl-0 col-sm-3 col-xs-6">
 <div class="p-2">
   <img src="assets/images/deals/img1.jpg" style="display: block; width: 100%;"/>
   <div class="slider-bottom-r">
     <div>Everfresh Flowers</div>
     <div class="slider-bottom-rupee">
       <div class="slider-rupee">
         <i class="fas fa-rupee-sign"></i> 282
      </div>
      <div class="slider-rupee-discount">
         <i class="fas fa-rupee-sign"></i> 599
      </div>
      <div class="slider-rupee-discount-per">
         <span>57% off</span>
      </div>
   </div>
</div>
</div>
</div>
<div class="pr-0 pl-0 col-sm-3 col-xs-6">
 <div class="p-2">
   <img src="assets/images/deals/img1.jpg" style="display: block; width: 100%;"/>
   <div class="slider-bottom-r">
     <div>Everfresh Flowers</div>
     <div class="slider-bottom-rupee">
       <div class="slider-rupee">
         <i class="fas fa-rupee-sign"></i> 282
      </div>
      <div class="slider-rupee-discount">
         <i class="fas fa-rupee-sign"></i> 599
      </div>
      <div class="slider-rupee-discount-per">
         <span>57% off</span>
      </div>
   </div>
</div>
</div>
</div>
</div>
