<div class="app-content container-fluid">
	<owl-carousel [options]="carouselOptions" [items]="images" [carouselClasses]="['owl-theme', 'sliding']">
		<div class="item" *ngFor="let image of images;let i= index">
			<img class="slide-image" src="{{image.image}}" >
			<!-- <div class="slide-text">
			<h4>{{image.text}}</h4>
		</div> -->
		</div>
	</owl-carousel>

	
		<div class="row">
			<div class="col-lg-12 mb-5 mt-4">
				<div class="card">
					<div class="card-header">
						<h2 class="section__heading ">Deals of the Day</h2>
					</div>
					<div class="card-body">
						<owl-carousel [options]="carouselOptionsWhatsNew" [items]="images" [carouselClasses]="['owl-theme', 'sliding']">
							<div class="item" *ngFor="let image of ImagesWhatsNew;let i= index">
								<img class="slide-image" src="{{image.image}}"/>
								<div class="slider-bottom-r">
									<div>{{image.text}}</div>
									<div class="slider-bottom-rupee">
										<div class="slider-rupee"><i class="fas fa-rupee-sign"></i> 282</div>
										<div class="slider-rupee-discount"><i class="fas fa-rupee-sign"></i> 599</div>
										<div class="slider-rupee-discount-per"><span>57% off</span></div>
									</div>	
								</div>
							</div>
						</owl-carousel>
					</div>
				</div>
				
			</div>
		</div>

	<div class="section__intro mb-4">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section__text-wrap">
						<div class="section_out_heading u-c-secondary u-s-m-b-12">CATEGORIES FOR YOU</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section__content">
		<div class="container">
		   <div class="row">
		      <div class="col-lg-3 col-md-3">
		       	<img src="assets/images/deals/img2.jpg" class="category-img">
		       	<div class="text-center category-text">T-shirts</div>
		      </div>
		      <div class="col-lg-3 col-md-3">
		       	<img src="assets/images/deals/img1.jpg" class="category-img">
				<div class="text-center category-text">Full Sleeve</div>
		      </div>
		      <div class="col-lg-3 col-md-3">
		       	<img src="assets/images/deals/img1.jpg" class="category-img">
				<div class="text-center category-text">Jackets</div>
		      </div>
		      <div class="col-lg-3 col-md-3">
		       	<img src="assets/images/deals/img1.jpg" class="category-img">
				<div class="text-center category-text">Shirts</div>
		      </div>

		    </div>
		 </div>
	</div>
	<div class="section__intro mb-4">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section__text-wrap">
						<div class="section_out_heading u-c-secondary u-s-m-b-12">	EXCLUSIVE MEMBERSHIP
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section__content d-flex justify-content-center">
		<img src="assets/images/home/secure-payment.png">
		<img src="assets/images/home/quality.png" style="padding-left: 25px;">
		<img src="assets/images/home/present.png" style="padding-left: 25px;">
		<img src="assets/images/home/delivery.png" style="padding-left: 25px;">
	</div>
</div>
